<!doctype html>
<html>
  <head> </head>
  <body>
    <div class="navbar">
      <a href="app-home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">
          Collateral
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="app-collateral-summary">Summary</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Bonds
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="app-bond-summary">Summary</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Scenario
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="app-scenario-summary">Summary</a>
        </div>
      </div>
    </div>
  </body>
</html>
<router-outlet></router-outlet>
